## do you play console? is it hard to look at webtiles? ##
## these options will make webtiles look like console:  ##
# action_panel_glyphs = true
# tile_display_mode = (tiles | glyphs | hybrid) <-- pick one of these

#### BIGGER TILES for webtiles ####
# default tile size is 32
tile_cell_pixels     = 64

##############
#   Basics   #
##############

# don't stop for combat log spam
show_more = false
# when you *do* show a -MORE- prompt, write it atop the last message
small_more = true
# if you set this to true, the message log empties every turn.
# (it only shows the latest turn's messages, in other words.)
clear_messages = false

show_god_gift = yes
sort_menus = true
equip_unequip = true

# skill training options
default_manual_training = true
default_show_all_skills = true
skill_focus = true

#############
# Autofight #
#############
# make sure to adjust autofight settings to your playstyle!!!

### if you enable the following stuff, autofight (tab) becomes autofight_no_move...
### which might enforce good habits. It's uuuusually better to let them come to you,
### instead of walking up to them
### Do/don't throw/shoot/cast (whatever's quivered) when no enemy is adjacent:
###autofight_throw = true
###autofight_throw_nomove = true

# maybe easier to have a separate key for that behavior though.
#here it is:
bindkey = [;] CMD_AUTOFIGHT_NOMOVE

# If true, items are autofired stopping at the monsters feet (same as firing using .)
# If false, missed projectiles continue, possibly hitting whatever's beyond the monster
# or falling into the water beyond the monster. (but not beyond LOS)
autofight_fire_stop = false

# Prevent me from tab-fighting to death by keeping this high
autofight_stop = 65
# bust out of nets while tabbing
autofight_caught = true

hp_warning = 50
mp_warning = 50
hp_colour = 100:green, 99:lightgrey, 80:yellow, 70:lightred, 50:red
mp_colour = 100:green, 95:lightgrey, 75:yellow, 55:lightred, 35:red
stat_colour = 1: magenta, 3:red, 7:lightred, 24:lightgrey, 99:lightgreen
cloud_status = true

### this section is sorta outdated cuz you can quiver spells
### that said, it could cool to use both automagic and spell quivering?
## Enable this if you want automagic attacks
## automagic_enable = false
## automagic_slot = a
## Percentage of MP to stop automagic at
## automagic_stop = 50
## If set to true, resort to melee when automagic_stop is active
## automagic_fight = true

##############
# Autotravel #
##############

show_travel_trail = true
travel_key_stop = true
# stick somewhat closer to walls rather than waltz across open areas
explore_wall_bias = 5
# appear instantly at destination when traveling to a spot. increase if you want to watch.
travel_delay = -1
# appear instantly at destination when autoexploring. increase if you want to watch.
explore_delay = -1

#### doors can make loud noises. ####
# you can set autoexplore to "avoid" opening doors if you'd rather do it yourself.
# this is important for stealthy types, also nice for general survival.
# shadowrider38 would probably find it annoying, however
# travel_open_doors = avoid

explore_stop = glowing_items,artefacts,greedy_pickup_smart
explore_stop += stairs,shops
explore_stop += altars,portals,branches,runed_doors
explore_stop += greedy_visited_item_stack

# don't blunder into krakens in shoals while flying!
# set to shallow water for extra safety if you want
travel_avoid_terrain = deep water

: if you.god() ~= "Trog" or you.spirit_shield() > 0 then
rest_wait_both = true
: end

explore_auto_rest = true
rest_wait_ancestor = true

################
### Messages ###
################

channel.multiturn = mute

msc := message_colour
msc += mute:returns to your side
msc += mute:a demon appears
msc += mute:puff of smoke
msc += mute:carefully avoids
msc += mute:is recalled
msc += mute:wall.*burn.*your
msc += mute:dissolves? into (sparkling lights|shadows)
msc += mute:(crumbles|melts) away\.
msc += mute:(merges|forms) itself .* the air
msc += mute:you swap places
msc += mute:your.*(looks stronger|shudders|resists)
msc += mute:your.*(stumbles backwards|holds.*ground)
msc += mute:your.*(blinks|safely over)
msc += mute:(phases out.*|misses) (your|something).*
msc += mute:your.*(picks up|drops)
msc += mute:your.*basks in the mutagenic energy
msc += mute:your.*(struggles|tears|pulls away).*(web|net)


## FORCE MORE ##

more := force_more_message
: if you.god() == "Ashenzari" then
more += You have a vision of.*gates?
: end

more += The mighty Pandemonium lord .* resides here

# Interrupts
# spicycat: i'm commenting out things that seem annoying,
# but for more safety you could un-comment them.
# more += There's nothing to (close|open) nearby
# more += not good enough to have a special ability
# more += no means to grasp
more += You don't .* that spell
more += You fail to use your ability
more += You miscast.*(Borgnjor|Door|Invisibility)
more += You can't (read|drink|do)
more += You cannot .* while unable to breathe
more += You cannot .* in your current state
more += when .*silenced
more += too confused
more += There's something in the way
more += You are too berserk
more += That item cannot be evoked
more += You are held in a net
more += You don't have any such object
more += You can't unwield
more += enough magic points
more += You don't have the energy to cast that spell
more += You are unable to access your magic

# Bad things
more += Your surroundings flicker
more += You cannot teleport right now
more += A sentinel's mark forms upon you
more += (blundered into a|invokes the power of) Zot
more += enter a teleport trap
more += Ouch! That really hurt!
more += dispelling energy hits you
more += You are blasted by holy energy!
more += You are (blasted|electrocuted)!
more += You are.*(confused)
more += god:(sends|finds|silent|anger)
more += You feel a surge of divine spite
more += disloyal to dabble
more += You are too injured to fight blindly
more += calcifying dust hits
more += Space warps.*around you
more += Space bends around you
: if you.god() ~= "Trog" or you.spirit_shield() > 0 then
more += watched by something
: end
more += doesn't seem very happy
more += is no longer charmed

# Hell effects
more += hell_effect:

# Expiring effects #
# (most of these are covered with a runrest_stop_message now)
more += You feel yourself come back to life
more += You start to feel a little slower

# Others
more += You have reached level
more += You rejoin the land of the living
more += You have finished (your manual|forgetting about)
more += Your scales start
more += offers
more += You feel monstrous
more += Jiyva alters you
: if you.god() == "Xom" then
more += god:
: end

# Dangerous monsters we force_more when first seen.
# Things with ranged (or extremely fast), irresistable effects.
more += ((floating|shining) eye|dream sheep|death drake).*into view
more += (wretched star|apocalypse crab|death drake).*into view
more += (entropy weaver|torpor snail|spriggan druid).*into view
more += (vault warden|merfolk (avatar|siren)).*into view
more += meliai.*into view
more += (guardian serpent|draconian shifter|convoker|death cob).*into view
more += (phantasmal warrior|air elemental).*into view
# Paralysis/Petrify/Banish
more += (orc sorcerer|(?<!orc )wizard|ogre mage|great orb of eyes|sphinx).*into view
more += (vampire knight|basilisk|deep elf (sorcerer|demonologist)).*into view
# Torment/flay or hellfire
more += (flayed ghost|greater mummy|mummy priest|fiend|tzitzimitl).*into view
more += (tormentor|curse toe|curse skull|hell sentinel|hellion).*into view
more += (deep elf (sorcerer|high priest)|draconian scorcher).*into view
# Things that can hit for over 90+ damage in a turn that is either ranged or
# very fast.
more += ((deep elf|draconian) annihilator|tengu reaver).*into view
more += (lich|orb of fire|executioner|juggernaut|shrike).*into view

# Any uniques and any pan lords
more += (?-i:[A-Z]).* comes? into view

stop := runrest_stop_message
ignore := runrest_ignore_message

:if you.god() == "Xom" then
stop += god:
:else
ignore += god:
:end

# Bad things
stop += a shaft
stop += wrath finds you
stop += lose consciousness
stop += hell_effect:
stop += flickers and vanishes!

# Expiring effects
stop += You feel yourself slow down
stop += You are starting to lose your buoyancy
stop += Your hearing returns
stop += Your transformation is almost over
stop += back to life
stop += You have a feeling this form
stop += time is quickly running out
stop += life is in your own hands
stop += You feel less protected from missiles
# stop += is no longer charmed

# Portals

stop += ticking.*clock
stop += dying ticks
stop += distant snort
stop += coins.*counted
stop += tolling.*bell
stop += roar of battle
stop += creaking.*portcullis
stop += portcullis is probably
stop += wave of frost
stop += crackling.*melting
stop += hiss.*sand
stop += sound.*rushing water
stop += rusting.*drain
stop += drain falling apart
stop += heat about you
stop += falling.*rocks
stop += rumble.*avalanche of rocks
stop += crackle.*arcane power
stop += crackle.*magical portal
stop += distant wind
stop += whistling.*wind
stop += rapidly growing quiet

# Annoyances
ignore += grinding sound
ignore += contamination has completely
ignore += your breath back

#ignore += pray:
#ignore += talk:
#ignore += talk_visual:
ignore += friend_spell:
ignore += friend_enchant:
ignore += friend_action:
ignore += sound:

###########################
### Spell/Ability slots ###
###########################

ability_slot += Fly|flight:lF
ability_slot += Stop Flying:L
ability_slot += Breathe:t
ability_slot += Invisibility:iv
# Abilities prone to miskeys.
ability_slot += Blink:IB
ability_slot += Berserk:k
ability_slot += Corrupt:C
ability_slot += Enter the Abyss:E

##################
### Item slots ###
##################

## Rings, in order of letter used.
item_slot += ring of dexterity : Dd
item_slot += ring of evasion : Ee
item_slot += ring of .*fire : Ff
item_slot += ring of (ice|protection from cold) : Cc
item_slot += ring of intelligence : Ii
item_slot += ring of flight : L
item_slot += ring of magical power : Mm
item_slot += ring of positive energy : Nn
item_slot += ring of poison resistance : P
item_slot += ring of resist corrosion : R
item_slot += ring of strength : Ss
item_slot += ring of see invisible : v
item_slot += ring of willpower: Ww
# Need numeric match to not trigger for rF/rC rings
item_slot += \+[0-9]+ ring of protection : Tt
item_slot += ring of slaying : Yy
item_slot += ring of wizardry : Zz

########################
### Autoinscriptions ###
########################

show_god_gift = unident

ai := autoinscribe

ai += potions? of berserk rage:!q
ai += scrolls? of silence:!r

ai += of faith:!P
ai += manual of:!d
# Prevent melee with all staves; if we want to melee with one, it's safe to
# require removing the annotation.
ai += magical staff:!a
ai += (large rock|throwing net|curare|of dispersal):=f

# Convenient shortcuts
ai += curing:@q1
ai += potions? of heal wounds:@q2
ai += potions? of haste:@q3
ai += scrolls? of teleportation:@r2
ai += identify:@r1

##############
### Morgue ###
##############

note_hp_percent = 10
note_all_skill_levels = true
note_chat_messages = false
user_note_prefix = >>

note_items += experience,of resistance, Archmagi
note_items += crystal plate armour,pearl dragon scales
note_items += artefact
note_messages += You feel monstrous
note_messages += You pass through the gate
note_messages += cast .* Abyss

# Noteable monsters
# Undead
note_monsters += ancient lich,curse skull,curse toe,greater mummy
# Depths
note_monsters += caustic shrike
# Special hall_of_zot spawns
note_monsters += killer klown,electric golem,orb of fire

dump_on_save = true
dump_message_count = 30
dump_order  = header,hiscore,stats,misc,mutations,skills,spells,inventory
dump_order += overview,screenshot,monlist,messages,skill_gains,action_counts
dump_order += vaults,notes,kills,turns_by_place,xp_by_level


# Flash
flash := flash_screen_message
flash += Your life is in your own hands
flash += Your time is quickly running out
: if you.god() ~= "Lugonu" then
flash += of distortion
: end

# AUTO EXCLUDE

## dangerous monsters ##
auto_exclude += death drake, hydra, ice statue, jelly, orb of fire, meliai

## paralysing monsters and uniques ##
auto_exclude += [^c] wizard, ancient lich, Ereshkigal, Erolcha, eyeball, Grinder, Jory, lich
auto_exclude += Norris, ogre-mage, orb of eyes, orc sorcerer, Rupert, sphinx, vampire knight

## other uniques and unique followers ##
auto_exclude += Agnes, Aizul, Arachne, Asterion, Blork, Boris, Crazy Yiuf, Donald, Dowan
auto_exclude += Duvessa, Edmund, Erica, Eustachio, Fannar, Frances, Frederick, Gastronok
auto_exclude += Grum, Harold, Ijyb, Jessica, Jorgrun, Joseph, Kirke, Louise, Mara, Maud
auto_exclude += Maurice, Menkaure, Mennas, Mlioglotl, Natasha, Nergalle, Nessos, Nikola, Pikel
auto_exclude += Polyphemus, Prince Ribbit, Psyche, Roxanne, Saint Roka, Sigmund, Snorg
auto_exclude += Sojobo, Sonja, Terence, Urug, Wiglaf, Xtahua, hog, lemure

###########
### Lua ###
###########

{
-- Equipment autopickup (by Medar and various others)
local function pickup_equipment(it, name)
  if it.is_useless then return end

  local class = it.class(true)
  if class == "armour" then
    local good_slots = {cloak="Cloak", helmet="Helmet",
                        gloves="Gloves", boots="Boots"}
    st, _ = it.subtype()

    -- Autopickup found aux armour if 1) we don't have any or 2) it's artefact,
    -- or 3) if we don't have artefact or ego armour, and the found armour is
    -- ego.
    if good_slots[st] ~= nil then
      if good_slots[st] == "Gloves" and you.has_claws() > 0 then return end

      if it.artefact then return true end

      local cur = items.equipped_at(good_slots[st])
      if cur == nil then return true end

      if cur.branded or cur.artefact then return end
      if it.branded then return true end
      -- Autopickup found body armour of the same kind we're wearing, according
      -- to conditions (2) and (3) above used for aux slots.
    elseif st == "body" then
      local cur = items.equipped_at("armour")
      if cur == nil then return end
      if cur.name("qual") ~= it.name("qual") then return end

      if it.artefact then return true end

      if cur.branded or cur.artefact then return end
      if it.branded then return true end
    end
  end
  return
end

add_autopickup_func(pickup_equipment)

---------------------------
---- Begin force_mores ----
---------------------------

-- See README.md for documentation.

last_turn = you.turns()

-- Each entry must have a 'name' field with a descriptive name, a 'pattern'
-- field, a 'cond' field giving the condition type, and a 'cutoff' field giving
-- the max value for where the force_more will apply. Possible values for
-- 'cond' are xl and maxhp.
--
-- The 'pattern' field's value can be either a regexp string or array of regexp
-- strings matching the appropriate monster(s). Any values are joined by "|" to
-- make a new force_more of the form:
--
-- ((?!spectral )VALUE1|VALUE2|...)(?! (skeleton|zombie|simularcrum)).*into view".
--
-- To allow derived undead forms of a monster to match, include 'spectral ' at
-- the beginning of and/or ' (skeleton|zombie|simularcrum)' at the end of your
-- pattern for that monster.
fm_patterns = {
  -- Fast, early game Dungeon problems for chars with low mhp.
  {name = "30mhp", cond = "maxhp", cutoff = 30,
   pattern = "adder|hound"},
  -- Dungeon monsters that can damage you for close to 50% of your mhp with a
  -- ranged attack.
  {name = "40mhp", cond = "maxhp", cutoff = 40,
   pattern = "orc priest|electric eel"},
  {name = "60mhp", cond = "maxhp", cutoff = 60,
   pattern = "acid dragon|steam dragon|manticore"},
  {name = "70mhp", cond = "maxhp", cutoff = 70,
   pattern = "centaur(?! warrior)|meliai|yaktaur(?! captain)"},
  {name = "80mhp", cond = "maxhp", cutoff = 80,
   pattern = "gargoyle|orc (warlord|knight)"},
  {name = "90mhp", cond = "maxhp", cutoff = 90,
   pattern = {"centaur warrior", "deep elf archer", "efreet",
              "molten gargoyle", "tengu conjurer"} },
  {name = "110mhp", cond = "maxhp", cutoff = 110,
   pattern = {"centaur warrior", "deep elf (mage|knight)", "cyclops", "efreet",
              "molten gargoyle", "tengu conjurer", "yaktaur captain",
              "necromancer", "deep troll earth mage", "hell knight",
              "stone giant"} },
  {name = "160mhp", cond = "maxhp", cutoff = 160,
   pattern = {"(fire|ice|quicksilver|shadow|storm) dragon",
              "(fire|frost) giant", "war gargoyle",
              "draconian (knight|stormcaller"} },
} -- end fm_patterns

active_fm = {}
-- Set to true to get a message when the fm change
notify_fm = false

-- Wrapper of crawl.mpr() that prints text in white by default.
if not mpr then
  mpr = function (msg, color)
    if not color then
      color = "white"
    end
    crawl.mpr("<" .. color .. ">" .. msg .. "</" .. color .. ">")
  end
end

function init_force_mores()
  for i,v in ipairs(fm_patterns) do
    active_fm[#active_fm + 1] = false
  end
end

function update_force_mores()
  local activated = {}
  local deactivated = {}
  local hp, maxhp = you.hp()
  for i,v in ipairs(fm_patterns) do
    local msg = nil
    if type(v.pattern) == "table" then
      for j, p in ipairs(v.pattern) do
        if msg == nil then
          msg = p
        else
          msg = msg .. "|" .. p
        end
      end
    else
      msg = v.pattern
    end
    msg = "(?<!spectral )(" .. msg .. ")(?! (skeleton|zombie|simulacrum)).*into view"
    local action = nil
    local fm_name = v.pattern
    if v.name then
      fm_name = v.name
    end
    if not v.cond and not active_fm[i] then
      action = "+"
    elseif v.cond == "xl" then
      if active_fm[i] and you.xl() >= v.cutoff then
        action = "-"
      elseif not active_fm[i] and you.xl() < v.cutoff then
        action = "+"
      end
    elseif v.cond == "maxhp" then
      if active_fm[i] and maxhp >= v.cutoff then
        action = "-"
      elseif not active_fm[i] and maxhp < v.cutoff then
        action = "+"
      end
    end
    if action == "+" then
      activated[#activated + 1] = fm_name
    elseif action == "-" then
      deactivated[#deactivated + 1] = fm_name
    end
    if action ~= nil then
      local opt = "force_more_message " .. action .. "= " .. msg
      crawl.setopt(opt)
      active_fm[i] = not active_fm[i]
    end
  end
  if #activated > 0 and notify_fm then
    mpr("Activating force_mores: " .. table.concat(activated, ", "))
  end
  if #deactivated > 0 and notify_fm then
    mpr("Deactivating force_mores: " .. table.concat(deactivated, ", "))
  end
end

local last_turn = nil
function force_mores()
  if last_turn ~= you.turns() then
    update_force_mores()
    last_turn = you.turns()
  end
end

init_force_mores()
}
-------------------------
---- End force_mores ----
-------------------------
# The ready() function is needed
# for code that has to process each turn 
# or UI action.

{
function ready()

  -- Open skill screen on turn 0.
  if not skills_set and you.turns() == 0 then
      crawl.sendkeys("m")
      skills_set = true
  end

  -- force_mores.lua
  force_mores()

end
}



##### GLYPHS ####
## for console ##


# mild interpolation of the alternate glyph sets for features

display_char = wall:▒
display_char = permawall:█
display_char = wall_magic:░
display_char = floor:·
display_char = floor_magic:◦
display_char = door_open:⸬
display_char = door_closed:◼
display_char = trap:^
display_char = stairs_down:>
display_char = stairs_up:<
display_char = grate:⊞
display_char = altar:π
display_char = arch:∩
display_char = fountain:⌠
display_char = wavy:≈
display_char = statue:⁑
display_char = invis_exposed:∆
display_char = item_detected:{
display_char = item_orb:⊛
display_char = item_rune:φ
display_char = item_weapon:)
display_char = item_armour:[
display_char = item_wand:/
display_char = item_food:%
display_char = item_corpse:‰
display_char = item_skeleton:‱
display_char = item_scroll:?
display_char = item_ring:=
display_char = item_potion:!
display_char = item_missile:(
display_char = item_book:∞
display_char = item_staff:|
display_char = item_miscellany:}
display_char = item_gold:$
display_char = item_amulet:"
display_char = cloud:❋
display_char = cloud_weak:✼
display_char = cloud_fading:✢
display_char = cloud_terminal:∘
display_char = tree:♣
display_char = transporter:∈
display_char = transporter_landing:∋
display_char = fired_bolt:#
display_char = fired_zap:*
display_char = fired_burst:÷
display_char = fired_debug:X
display_char = fired_missile:⋆
display_char = explosion:#
display_char = frame_horiz:═
display_char = frame_vert:║
display_char = frame_top_left:╔
display_char = frame_top_right:╗
display_char = frame_bottom_left:╚
display_char = frame_bottom_right:╝

# fancier feature declarations

# Walls and floors

feature += crystal wall {░}
feature += stone wall {≣}
feature += metal wall {▓}
feature += Golubria {Ω}
feature += collapsed entrance {∩,∩,lightgrey}
feature += escape hatch in the ceiling {«}
feature += escape hatch in the floor {»}
feature += web {✳}

# Fancy god altars

# "shattered"
feature += Ashenzari {※}
# "rough hewn"
feature += Beogh {⁂}
feature += Cheibriados {◴}
feature += Dithmenos {ᚤ}
# staff of aesculapius for the healer
feature += Elyvilon {⚕}
feature += Fedhas {❀}
feature += Gozag {₪}
# funeral urn of the ancestor
feature += Hepliaklqana {⚱}
feature += Jiyva {☣}
feature += Kikubaaqudgha {☠}
# "corrupted"
feature += Lugonu {▚}
# just because lowercase omega looks like flames
feature += Makhleb {ω}
feature += Nemelex Xobeh {⚜}
feature += Okawaru {⚔}
# meteorological symbol for thunderstorm
feature += Qazlal {☈}
feature += Ru {⚖}
# mimic the tile
feature += Sif Muna {♟}
feature += Trog {†}
feature += Uskayaw {♪}
# 16 pointed star. "radiant"
feature += Vehumet {✺}
feature += Wu Jian {ॻ}
feature += Xom {⸘}
# a plain basalt altar sticks out in this flashy crowd
feature += Yredelemnul {☗}
# a quarter moon is the alchemical symbol for silver
feature += Zin {☽}
# alchemical gold
feature += Shining One {☉}

# Monsters
mons := mon_glyph

# Monsters that can be easy to miss
mons += * : ✱
mons += dancing weapon : lightcyan {
mons += spectral weapon : lightcyan {

# Fancy Demons
mons += 1 : ➊
mons += 2 : ➋
mons += 3 : ➌
mons += 4 : ➍
mons += 5 : ➎
mons += 6 : ➏
mons += demonspawn blood saint : ➅
mons += demonspawn warmonger : ➅
mons += demonspawn corrupter : ➅
mons += demonspawn black sun : ➅
mons += & : ᚱ
mons += R : ®

# Terrible horrors
mons += x : ᛣ
mons += X : ᚸ
mons += tentacled monstrosity : ᛤ
mons += G : ಠ
mons += glowing orange brain : ದ
mons += u : ᛟ

# Mummies and friends
mons += M : 𓀾
mons += W : צ
mons += spectral thing : צ
mons += L : ל

# Constructs
mons += 8 : ᛝ

# Monsters that are really features
mons += statue : ⁑
mons += P : ❦

# Except those that are not
mons += wandering mushroom : ❡
mons += deathcap : ❡
mons += oklob plant : ❡
mons += ballistomycete : ❡
mons += burning bush : ❡
mons += oklob sapling : ❡

# Vortices
mons += v : ¤

# Hep to hep

mons += ancestor : ಕ 
mons += hexer : ಟ
mons += knight : ಗ
mons += battlemage : ಸ
